.layout{
    min-height: 100vh;
    min-width: 100vw;
}

/* Header */
.logo {
    float: left;
    width: 120px;
    height: 31px;
    /* margin: 16px 24px 16px 0; */
    /* background: rgba(255, 255, 255, 0.3); */
}
.logo img {
    width: 120px;
}

/* Content */
.layout-content{

}

/* Card Documentation */
img{
    max-width: -webkit-fill-available;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

code {
    background: #FCF3E5;
    color: #D16223;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}